{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        {% for r in data.results %}
            <div class="row" style="border: 1px aqua solid;">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src={{ r.img_url }} alt="..." width="180">
                        <div class="caption">
                            <h4>{{ r.title }}</h4>
                            <p>{{ r.abstract }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
